<!-- <mat-radio-group [ngModel]="authSwitcher.currentUserData?.email" (ngModelChange)="switchUser($event)">
  <ng-container *ngFor="let user of users | async">
    <mat-radio-button [value]="user.email">
      {{ user.email }}
    </mat-radio-button>
  </ng-container>
</mat-radio-group> -->

<button mat-button [matMenuTriggerFor]="menu">
  <span class="short-on-mobile">
    {{authSwitcher.currentUserData?.email || 'Not Logged In'}}
  </span>
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu">

  <ng-container *ngFor="let user of users | async">
    <button mat-menu-item (click)="switchUser(user.email)">
      {{user.email}}
    </button>
  </ng-container>

  <ng-container *ngIf="(users | async)?.length">
    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngIf="isLoggedIn(); else loginTemplate">
    <button mat-menu-item (click)="auth.logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </ng-container>
  <ng-template #loginTemplate>
    <button mat-menu-item routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
      Login
    </button>
  </ng-template>
</mat-menu>