

.historyEntry {
  margin-bottom: 8px;
}
.historyEntry > button {
  visibility: hidden
}
.historyEntry:hover > button {
  visibility: visible
}

.queryText {
  max-width: calc(100vw - 140px);
  overflow: hidden;
  word-wrap: break-word;
}

.historyEntries {
  @media (max-width: 1000px) {
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
  }
}

.clickable {
  cursor: pointer;
}