<div class="flex-row option" *ngIf="(historyEntries | async).length">
  <div class="flex-1">
    <div class="flex-row">
      <span>History</span>
      <button mat-button (click)="historySrv.removeAllEntries()">Delete all</button>
    </div>
    <ul class="historyEntries">
      <ng-container *ngFor="let entry of historyEntries | async">
        <li class="flex-row historyEntry">
          <span class="flex-1 clickable queryText" (click)="setAndFetch(entry)">Path: {{ entry.path}}
            <br> Query: {{ entry.query}} </span>
          <button mat-icon-button (click)="historySrv.removeEntry(entry)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>