<button mat-button [matMenuTriggerFor]="menu">
  {{appsService.activeProjectId || 'No App selected'}}
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let app of apps">
    <ng-container *ngIf="app.projectId">
      <button mat-menu-item (click)="pick(app.projectId)"> {{app.projectId}}</button>
    </ng-container>
  </ng-container>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/add">
    <mat-icon>add</mat-icon>
    add app
  </button>
</mat-menu>