<mat-toolbar>
  <div class="main-container">
    <div class="flex-row">
      <a routerLink="/">Firestore Query Browser</a>
      <a mat-icon-button class="fa-btn" href="https://github.com/rechenberger/firestore-query-browser" matTooltip="Project on Github">
        <i class="fa fab fa-github"></i>
      </a>
    </div>
  </div>
</mat-toolbar>


<mat-toolbar>
  <div class="main-container">
    <div class="flex-row">
      <ng-container *ngIf="apps.activeProjectId; else noAppAddedYet">
        <app-app-switcher></app-app-switcher>
        <app-auth-switcher></app-auth-switcher>
      </ng-container>
      <ng-template #noAppAddedYet>
        <a mat-button color="primary" href="https://github.com/rechenberger/firestore-query-browser/blob/master/README.md">
          <mat-icon>exit_to_app</mat-icon>
          Getting Stated Guide
        </a>
      </ng-template>
    </div>
  </div>
</mat-toolbar>