a[mat-menu-item] {
  text-decoration: none !important;
}


@media (max-width: 999px) {
  .switcherTop {
    display: none;
  }
}
@media (min-width: 1000px) {
  .switcherBottom {
    display: none;
  }
}

.fqb-link {
  display: flex;
  align-items: center;
  
  &:hover {
    text-decoration: none;
  }

  img {
    height: 28px;
    margin-right: 12px;
  }
}
