<mat-toolbar>
  <div class="main-container">
    <div class="flex-row">
      <a routerLink="/">Firestore Query Browser</a>
      <a mat-icon-button class="fa-btn" href="https://github.com/rechenberger/firestore-query-browser" matTooltip="Project on Github">
        <i class="fa fab fa-github"></i>
      </a>
    </div>
  </div>
</mat-toolbar>


<mat-toolbar>
  <div class="main-container">
    <div class="flex-row">
      <app-app-switcher></app-app-switcher>
      <ng-container *ngIf="apps.activeProjectId">
        <app-auth-switcher></app-auth-switcher>
      </ng-container>
    </div>
  </div>
</mat-toolbar>