<div class="main-container">
  <div class="flex-row">
    <h1>Firestore Query Browser</h1>
    <a mat-icon-button class="fa-btn" href="https://github.com/rechenberger/firestore-query-browser">
      <i class="fa fab fa-github"></i>
    </a>
  </div>
  <div class="flex-row top-row">
    <app-app-switcher class="flex-1"></app-app-switcher>
    <app-login *ngIf="apps.activeProjectId" class="flex-1"></app-login>
  </div>
</div>

<div class="flex-row">
  <div class="query-container">
    <ng-container *ngIf="apps.activeProjectId">
      <app-query-browser></app-query-browser>
    </ng-container>
    <div class="footer flex-row">
      <a href="https://github.com/rechenberger/firestore-query-browser/blob/master/LICENSE">MIT License</a>
      <a href="https://github.com/rechenberger">&copy; 2018 Tristan Rechenberger</a>
      <a href="https://github.com/rechenberger/firestore-query-browser">github</a>
    </div>
    <p>
    </p>
  </div>
</div>