<app-toolbar></app-toolbar>

<div class="main-container">

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="footer flex-row">
    <span>
      Not affiliated with Firebase or Google in any way
    </span>
    <span>
      <a href="https://github.com/rechenberger">&copy; 2018 Tristan Rechenberger</a>
      <a href="https://github.com/sean-nicholas">& Sean Dieterle</a>
    </span>
    <span>
      <a href="https://github.com/rechenberger/firestore-query-browser/blob/master/LICENSE">MIT License</a> |
      <a href="https://github.com/rechenberger/firestore-query-browser">Github</a>
    </span>
  </div>
</div>