<div class="root">
  <div class="flex-row">
    <h2 mat-dialog-title>
      Editing
      <strong>{{options.paths.length}}</strong>
      {{options.paths.length==1?'entry':'entries'}}
    </h2>
    <mat-slide-toggle [(ngModel)]="override">Override?</mat-slide-toggle>
  </div>
  <mat-dialog-content>
    <ng-container *ngIf="loading; else preLoading">
      <div class="counter">
        <span>{{(doneCount | async)}}</span>
        <span>/</span>
        <span>{{options.paths.length}}</span>
      </div>
      <mat-progress-bar mode="determinate" [value]="percentage | async"></mat-progress-bar>
    </ng-container>
    <ng-template #preLoading>

      <mat-form-field class="flex-1">
        <textarea class="query" matInput placeholder="Update Object" [(ngModel)]="newEntity" (keyup.control.enter)="answer(true)"
          (keyup.shift.enter)="answer(true)"></textarea>
      </mat-form-field>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <ng-container *ngIf="loading; else preLoadingActions">
      <button mat-raised-button color="primary" (click)="answer(true)" [disabled]="!done">DONE</button>
    </ng-container>
    <ng-template #preLoadingActions>
      <button mat-button mat-raised-button color="primary" (click)="doIt()">EDIT</button>
      <button mat-button (click)="answer(false)">CANCEL</button>
    </ng-template>
  </mat-dialog-actions>
</div>