:host {
  display: block;
  width: 600px;
  max-width: calc(80vw - 100px);
}

mat-form-field {
  width: 100%;
}

textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  height: 400px;
}

.counter {
  text-align: right;
  color: rgba(0,0,0,0.58);
  margin: 4px 0;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
}

.errored {
  .error {
    color: red;
  }
}