@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono|Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~firebaseui/dist/firebaseui.css";

html, body {
  background: #c9d6e8;
}

body {
  min-height: calc(100vh - 16px);
  background: linear-gradient(135deg, #ecf0f6 0%,#c9d6e8 100%);
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 8px;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width:1000px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.flex-1 {
  flex: 1
}

mat-card {
  margin-bottom: 16px;
}

mat-card > mat-progress-bar:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right :0;
}

.fa-btn {
  font-size: 1.5em;
}

a {
  color: rgba(0,0,0,0.78);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .short-on-mobile {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}