pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.query, .path {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.query {
  height: 130px;
}

.clickable {
  cursor: pointer;
}