pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.query, .path {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.query {
  height: 130px;
}

.clickable {
  cursor: pointer;
}

.fetch {
  margin-bottom: 18px;
}

.historyEntry {
  margin-bottom: 8px;
}
.historyEntry > button {
  visibility: hidden
}
.historyEntry:hover > button {
  visibility: visible
}

.option {
  padding: 18px 0;
}