<mat-card>
  <h3>Browser</h3>
  <div class="flex-row">
    <mat-form-field class="flex-1">
      <input matInput placeholder="path" [(ngModel)]="options.path" (keyup.enter)="fetchResults()">
    </mat-form-field>
  </div>
  <div class="flex-row">
    <mat-form-field class="flex-1">
      <textarea matInput placeholder="query (ctrl + enter or shift + enter to fetch)" [(ngModel)]="options.query" (keyup.control.enter)="fetchResults()"
        (keyup.shift.enter)="fetchResults()"></textarea>
    </mat-form-field>
  </div>
  <div class="flex-row">
    <div class="flex-1">
      Examples
      <ul>
        <ng-container *ngFor="let queryExample of queryExamples">
          <li (click)="options.query = queryExample.query">{{queryExample.query}}</li>
        </ng-container>
      </ul>
    </div>
    <button mat-button color="primary" (click)="fetchResults()">FETCH</button>
  </div>
</mat-card>
<mat-card>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <pre>{{result | async | json}}</pre>
</mat-card>