<div class="root">

  <mat-card>
    <h3>Browser</h3>
    <app-query-input [(path)]="path" [(query)]="query" (fetch)="fetchResults()"></app-query-input>

    <div class="fetch">
      <app-query-actions [(path)]="path" [(query)]="query" (fetch)="fetchResults()"></app-query-actions>
    </div>

    <mat-divider></mat-divider>

    <div class="option">
      <app-query-snippets [(query)]="query"></app-query-snippets>
    </div>

    <mat-divider></mat-divider>

    <div class="option">
      <app-query-history [(path)]="path" [(query)]="query" (fetch)="fetchResults()"></app-query-history>
    </div>
  </mat-card>

  <mat-card class="results flex-1">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <app-query-browser-result [result]="result | async" [path]="path"></app-query-browser-result>
  </mat-card>


</div>