<div class="root">

  <mat-card>
    <h3>Browser</h3>
    <div class="flex-row">
      <mat-form-field class="flex-1">
        <input class="path" matInput placeholder="path" [(ngModel)]="path" (keyup.enter)="fetchResults()">
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field class="flex-1">
        <textarea class="query" matInput placeholder="query (ctrl + enter or shift + enter to fetch)" [(ngModel)]="query" (keyup.control.enter)="fetchResults()"
          (keyup.shift.enter)="fetchResults()"></textarea>
      </mat-form-field>
    </div>

    <div class="flex-row fetch">
      <div class="flex-1"></div>
      <button mat-button color="warn" (click)="deleteResults()">DELETE</button>
      <button mat-button (click)="editResults()">EDIT</button>
      <button mat-button (click)="create()">CREATE</button>
      <button mat-button color="primary" (click)="fetchResults()">FETCH</button>
    </div>

    <mat-divider></mat-divider>

    <div class="flex-column option">
      Add Snippet
      <div class="flex-row flex-1" style="flex-wrap: wrap;">
        <ng-container *ngFor="let snippet of snippets">
          <button mat-button (click)="addSnippet(snippet)">{{snippet.name}}</button>
        </ng-container>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="flex-row option" *ngIf="(historyEntries | async).length">
      <div class="flex-1">
        <div class="flex-row">
          <span>History</span>
          <button mat-button (click)="removeAllHistoryEntries()">Delete all</button>
        </div>
        <ul class="historyEntries">
          <ng-container *ngFor="let entry of historyEntries | async">
            <li class="flex-row historyEntry">
              <span class="flex-1 clickable queryText" (click)="setAndFetch(entry)">Path: {{ entry.path}}
                <br> Query: {{ entry.query}} </span>
              <button mat-icon-button (click)="removeHistoryEntry(entry)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <!-- <mat-divider></mat-divider>

    <div class="flex-row option">
      <div class="flex-1">
        Examples
        <ul>
          <ng-container *ngFor="let queryExample of queryExamples">
            <li (click)="setAndFetch(queryExample)" class="clickable">{{queryExample.query}}</li>
          </ng-container>
        </ul>
      </div>
    </div> -->
  </mat-card>

  <mat-card class="results flex-1">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <app-query-browser-result [result]="result | async" [path]="path"></app-query-browser-result>
  </mat-card>


</div>