.root {
  display: flex;
  width: 1300px;
  align-items: flex-start;
}

pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.fetch {
  margin-bottom: 18px;
}

.historyEntry {
  margin-bottom: 8px;
}
.historyEntry > button {
  visibility: hidden
}
.historyEntry:hover > button {
  visibility: visible
}

.option {
  padding: 18px 0;
}

.results {
  margin-left: 12px;
}

@media (max-width: 1300px) {
  .root {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
  .results {
    margin-left: 0;
  }
}